meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title AdminLTE 2 | Blank Page
// Tell the browser to be responsive to screen width
meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
link(rel='stylesheet', href='/bower_package/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/bower_package/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/AdminLTE/dist/css/AdminLTE.min.css')
link(rel='stylesheet', href='/AdminLTE/dist/css/skins/skin-blue.min.css')
link(rel='stylesheet', href='/AdminLTE/plugins/iCheck/square/blue.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
