// jQuery 3
script(src='/bower_package/jquery/dist/jquery.min.js')
// Bootstrap 3.3.7
script(src='/bower_package/bootstrap/dist/js/bootstrap.min.js')
// SlimScroll
script(src='/bower_package/jquery-slimscroll/jquery.slimscroll.min.js')
// FastClick
script(src='/bower_package/fastclick/lib/fastclick.js')
// AdminLTE App
script(src='/AdminLTE/dist/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='/AdminLTE/dist/js/demo.js')